// Top-level error template
#main-error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 80px;
    font-weight: bold;
  }
  h1, h3 {
    text-align: center;
  }
}
