$tab-container-bg: #e6e8e7;
$tab-container-border: #dadada;

.tab-container {
  background-color: $tab-container-bg;
  border-left: 1px solid $gray-light;
  border-bottom: 1px solid $tab-container-border;

  ul.tabs {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    li {
      float: left;
      height: 48px;
      a {
        padding: 17px 25px;
        display: inline-block;
        color: $gray-darker;

        &:hover, &.active, &:focus {
          background-color: $white;
          text-decoration: none;
        }
      }
    }
  }

  .dropdown-container {
    margin-top: 5px;
    margin-right: 20px;
  }
}
