{{main-header title=(t "homeworks.headerTitle")}}

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default panel-set-homework">
        <div class="panel-body">
          <div class="set-homework-icon set-homework-icon-assignment">
            <i class="pe-7s-note2"></i>
          </div>
          <h3>Assignment</h3>
          <p>Set homework and collect <br>submissions online or in class<br></p>
        </div>
        <div class="panel-footer">
          {{#link-to "authenticated.homeworks.new" class="btn new-homework-btn btn-default"}}Create homework{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>


