<i class="pe-7s-user"></i>
<span class="submission-name">{{submission.student.fullName}}</span>

<span class="submission-grade">
  <i class="ti-marker-alt"></i>
  {{grade}}
</span>

<span class="submission-status {{submission.status}}">
  <i class="pe-7s"></i>
</span>
