& {
  padding: 10px 28px;
  background: $white;
  border-bottom: 1px solid $gray-light;
  border-left: 1px solid $gray-light;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.filter-bar-element {
  width: 20%;
  float: left;
  padding-right: 10px;

  &:last-child {
    float: right;
    padding-right: 0;
  }
}
