<label for={{attribute}} class="control-label u-margin-Txxs">
  {{t 'homeworks.description.label'}}
</label>
{{rich-text-editor value=value minHeight=minHeight class=classNames }}
{{validation-errors errors=errors}}

