{{#if school.logo}}
  <img src="{{school.logo}}" alt="school-logo">
{{else}}
  <i class="flaticon-shield36 school-logo"></i>
{{/if}}
<p class="suggested-school-name">{{name}}</p>
<p class="suggested-school-address">{{fullAddress}}</p>
