<div class="homework-date issued-on">
  {{t 'shared.setOnDate' date=(moment model.issuedOn 'ddd DD MMM')}}
</div>
<div class="homework-date due-on">
  {{t 'shared.dueOnDate' date=(moment model.dueOn 'ddd DD MMM')}}
</div>
