<div id="main-error">
  <div id="main-error-content">
    <h1 class="brand-primary-text">{{t 'error.header'}}</h1>
    <h3 class="brand-primary-text">{{t 'error.subheader1'}}</h3>
    <h3 class="brand-primary-text">{{t 'error.subheader2'}}</h3>
  </div>
</div>
